<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79998394043-bubksetdttdncabklc089p9v9t1qmcrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79998394043-bubksetdttdncabklc089p9v9t1qmcrl</string>
	<key>API_KEY</key>
	<string>AIzaSyBu2ioPH8AgHnS4TYfgalFSZgPvrbn9eUc</string>
	<key>GCM_SENDER_ID</key>
	<string>79998394043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boha.universalFrontend</string>
	<key>PROJECT_ID</key>
	<string>thermal-effort-366015</string>
	<key>STORAGE_BUCKET</key>
	<string>thermal-effort-366015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79998394043:ios:cd6bbc0e80b5fd7cd6139e</string>
</dict>
</plist>